// Width breakpoints
$width-fullhd: 1900px;
$width-desktop-L: 1620px;
$width-desktop-S: 1260px;
$width-tablet-L: 1100px;
$width-tablet-M: 991px;
$width-tablet-S: 768px;
$width-mobile-L: 480px;
$width-mobile-S: 360px;

$base-font-size: 16px;
$big-font-size: 28px;

/* fonts */
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/* colors */
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-gray: #BEBEBF;